# =================== APPLICATION ===================
PORT


# =================== SWAGGER DOCS ===================
SWAGGER_DOCS_TITLE
SWAGGER_DOCS_DESCRIPTION


# =================== DATABASE ===================
DB_HOST
DB_PORT
DB_USERNAME
DB_NAME
DB_PASSWORD


# =================== AVITO ===================
AVITO_API_URL


# =================== REDIS ===================
REDIS_HOST
REDIS_PORT
REDIS_USER
REDIS_PASSWORD
REDIS_DB_NUMBER